

@import './variables';
@import 'styles/confirmEmail.scss';
@import 'styles/footer.scss';
@import 'styles/home.scss';
@import 'styles/login.scss';
@import 'styles/navbar.scss';
@import 'styles/notFound.scss';
@import 'styles/register.scss';
@import 'styles/staffProfile.scss';
@import 'styles/studentProfile.scss';
@import 'styles/review.scss';
@import 'styles/resetPassword.scss';
@import 'styles/burgerMenu.scss';
@import 'styles/overlay.scss';

* {
  font-family: $primary-font;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}